altair
numpy
pandas
pydeck
streamlit
pinecone-client
pinecone-text
langchain
langchain-community==0.0.27
transformers
sentence-transformers
huggingface_hub
azure-ai-translation-text 
azure-ai-textanalytics
